<!DOCTYPE html>
<html>
<head>
	<title>Interactive Page</title>
	<link rel="stylesheet" href="style.css">
</head>
<body>
	<div class="container">
		<h1>Welcome to my interactive page!</h1>
		<button id="change-color">Change Background Color</button>
		<button id="change-font">Change Font Size</button>
		<div id="content">
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sit amet nulla auctor, vestibulum magna sed, convallis ex.</p>
		</div>
	</div>

	<script src="script.js"></script>
</body>
</html>
